body {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: black;
	background: white;
}
h1{
	font-size: 30px;
	line-height: 26px;
	font-weight: bold;
}
h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

